{% extends 'usuarios/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card p-4">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>

  {% if mensaje %}
    {% if alerta %}
      <script>alert("{{ mensaje }}")</script>
    {% else %}
      <p>{{ mensaje }}</p>
    {% endif %}
  {% endif %}

  <div class="mt-3">
    <a href="{% url 'recuperar' %}" class="btn btn-info">Recuperar Contraseña</a>
  </div>
</div>
{% endblock %}
